# Common file formats
*.ipynb
*.log
*.png
*.pkl
*.out
*.err
*.sh
*.sbatch
*.pkl
*slurm_logs/*
*Figures/*
*logs/*
*notebook*
*partitions/*
*clr*
*obsolete*/*
configs/*.yaml

# Cache directories
**__pycache__
**.ipynb_checkpoints

!meta_heuristic_playground.ipynb
!configs/config_default.yaml
